.home-container {
    padding: 20px;
}

.recipe-list {
    list-style-type: none;
    padding: 0;
}

.recipe-card {
    background-color: rgb(138, 43, 43);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
