/* Additional custom styling for NavBar */
.navbar-item .title {
    font-family: 'Pacifico', cursive;
    color: white;
}

.navbar-burger {
    color: white;
}

.navbar-menu.is-active {
    display: block;
}

.navbar-end .button {
    margin-left: 10px;
}

